!pip3 install tensorboardX
!pip3 install -e git+https://github.com/rll/rllab.git@b3a28992eca103cab3cb58363dd7a4bb07f250a0#egg=rllab
!pip3 install -e git+https://github.com/rlworkgroup/garage.git@56cc4a65d956a5c51c73005066dcc04f3ed1b003#egg=rlgarage
!pip3 install -e git+https://github.com/openai/multiagent-particle-envs.git@6ed7cac026f0eb345d4c20232bafa1dc951c68e7#egg=multiagent
!pip3 install git+https://github.com/openai/baselines
!pip3 install python-igraph
!pip3 install gym==0.10.5
!pip3 install Gluoncv==0.3
!pip3 install gtimer==1.0.0b5
!pip3 install path.py==11.5.0
